{% extends "base.html" %}

{% block content %}
    <div>
        <a href="{{ url_for('expenditure.index') }}">Expenditure</a> >>
        Groups
    </div>
    <hr>
    <table border="1">
        <tr>
            <th width="200px">Title</th>
            <th width="70px">Edit</th>
            <th width="70px">Remove</th>
        </tr>
        {% for group in groups -%}
            <tr>
                <td>
                    {{ group.title }}
                </td>
                <td>
                    <a href="{{ url_for('expenditure.group_edit', group_id=group.id) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ url_for('expenditure.group_remove', group_id=group.id) }}">Remove</a>
                </td>
            </tr>
        {%- endfor %}
    </table>
    <a href="{{ url_for('expenditure.group_add') }}">Add Group</a>
{% endblock %}